/*
** Global Styles
*/

// Disable scrolling when opening modals
body.lock {
  overflow: hidden;
}

// Content image as block background
.ibg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
}

// Visually hidden but not for screen readers
.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px; 
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}